language: node_js
node_js:
  - "node"

install:
  - npm install

script:
  - npm run build
  - npm run clean

after_script:
  - cd ./dist
  - git init
  - git config user.name "wemlion"
  - git config user.email "angusfu1126@qq.com"
  - git add .
  - git commit -m "Update"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:gh-pages

env:
  global:
    - GH_REF: github.com/AngusFu/nuxt-firekylin.git

cache:
  directories:
    - node_modules
